<body>

<h3>Thanks For Choosing Microsoft Product  , Create Linux and Windows virtual machines in seconds </h3>

<div>
  <form >
    <label for="SName">Server Name / Tag</label>
    <input type="text" id="SName" name="Servername" placeholder="Server name..">


    <label for="Disk">VM Disk Type</label>
    <select id="Disk" name="Disk">
      <option value="ssd">SSD</option>
      <option value="Magnetic">Magnetic </option>
    </select>


    <label for="Image">Choose your OS/Software:</label>
    <select id="Image" name="Image">

      <option value="RedHat">Red Hat Enterprise Linux 7.4 </option>
      <option value="Ubuntu">Ubuntu Server 16.04 LTS (HVM)</option>
      <option value="SUSELinux">SUSE Linux Enterprise Server 12 SP2</option>
      <option value="Windows">Microsoft Windows Server 2016 Base</option>


    </select>
  </form>
  <input type="submit" value="Launch Instance">
</div>

</body>

