<body>

<h3>RACK SPACE - THE BENEFITS OF CLOUD ON A PLATFORM YOU KNOW AND TRUST</h3>

<div>
  <form >
    <label for="SName">Server Name / Tag</label>
    <input type="text" id="SName" name="Servername" placeholder="Server name..">

    <label for="Image">Choose an Amazon Machine Image (AMI)</label>
    <select id="Image" name="Image">

      <option value="Cent">Cent OS </option>
      <option value="Ubuntu">Ubuntu Server 16.04 LTS (HVM)</option>
      <option value="Debian">Debian</option>
      <option value="Windows">Microsoft Windows Server 2016 Base</option>


    </select>

    <label for="Instance">RAM</label>
    <select id="Instance" name="Instance">
      <option value="250">250MB</option>
      <option value="512">512 MB </option>
      <option value="1024">1024 Mb</option>
      <option value="2048">2048 MB</option>
    </select>

    <label for="Disk">Disk</label>
    <select id="Disk" name="Disk">
      <option value="10">10Gb</option>
      <option value="20">20Gb </option>
      <option value="40">40Gb</option>

    </select>





  </form>
  <input type="submit" value="Launch Instance">
</div>

</body>

